.brain-data-container 
	@include span-columns(4)
//	@include shift(0)
	background-color: $bg-secondary
	padding: $padding
	margin: $margin
	width: 100%
	font: 100% Helvetica, sans-serif
	display : $display
	+border-radius(1)
	&:hover
		font-weight: bold
	@media (min-width: 500px)
		@include span-columns(12)
		@include shift(10)

	@retina-image('../img/bg.jpg', $background-size, $extension*, $retina-filename*, $retina-suffix*, $asset-pipeline*)