@charset "UTF-8";
/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477DCA;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none; }
  button:hover,
  input[type="submit"]:hover {
    background-color: #2c5999;
    color: white; }
  button:disabled,
  input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477DCA;
  text-decoration: none; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: "\2014 \00A0"; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea,
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus,
  select[multiple=multiple]:focus {
    border-color: #477DCA;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html,
body,
ul,
ol {
  margin: 0 0 0 0;
  padding: 0 0 0 0; }

.page {
  background-color: #CAB69F;
  padding: 0.16667em;
  margin: 0 0 20px 0;
  width: 100%;
  font: 100% Helvetica, sans-serif;
  transform: translate(0px, -10px); }

.page-header {
  background-color: #6C7B92;
  padding: 0.16667em;
  margin: 0 0 20px 0;
  width: 100%;
  font: 100% Helvetica, sans-serif;
  transform: translate(0px, -10px); }

img {
  max-width: 100%; }

.graph {
  background-color: #CAB69F;
  padding: 0.16667em;
  margin: 0 0 20px 0;
  width: 100%;
  font: 100% Helvetica, sans-serif;
  width: 600px;
  height: 400px; }

.brain-page-heading {
  padding: 0.16667em;
  margin: 0 0 20px 0;
  width: 100%;
  font: Helvetica, sans-serif;
  display: inline-block;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px blue;
  -webkit-transform: scale(0.9) rotate(-3deg);
  -moz-transform: scale(0.9) rotate(-3deg);
  -ms-transform: scale(0.9) rotate(-3deg);
  -o-transform: scale(0.9) rotate(-3deg);
  transform: scale(0.9) rotate(-3deg); }

body {
  background-color: #6C7B92;
  padding: 0.16667em;
  margin: 0 0 20px 0;
  width: 100%;
  font: 100% Helvetica, sans-serif;
  transform: translate(0px, -10px); }

.delta {
  color: #13cfbb; }

.theta {
  color: #12d473; }

.loAlpha {
  color: #11da25; }

.hiAlpha {
  color: #4cdf10; }

.loBeta {
  color: #a1e40f; }

.hiBeta {
  color: #e9d70d; }

.loGamma {
  color: #ee820c; }

.midGamma {
  color: #f4280a; }

.brain-data-category {
  width: 100px;
  display: inline-block;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px blue; }

.brain-data-container {
  background-color: #6C7B92;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .brain-data-container:last-child {
    margin-right: 0; }

.brain-data-heading {
  background-color: #CAB69F;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px blue;
  padding: 0.16667em;
  transform: translate(10px);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

.brain-data-row {
  display: block;
  padding: 0.16667em;
  transform: translate(10px); }

.brain-data-value {
  width: 100px;
  display: inline-block;
  color: #ff0000;
  transform: translate(10px); }

.cleared-data-value {
  color: #000000;
  transform: translate(10px); }

.readout-board {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .readout-board::after {
    clear: both;
    content: "";
    display: table; }

.hover-tile-outer {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-position: bottom;
  background-size: cover;
  background-size: cover;
  border: 1px solid #DDD;
  height: 30em;
  margin-bottom: 1.5;
  cursor: pointer; }
  .hover-tile-outer:last-child {
    margin-right: 0; }
  @media screen and (min-width: 40em) {
    .hover-tile-outer {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .hover-tile-outer:last-child {
        margin-right: 0; } }
  .hover-tile-outer .hover-tile-container {
    height: 30em;
    overflow: hidden; }
  .hover-tile-outer .hover-tile-container:hover > .hover-tile {
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
    transform: translate(0, -100%); }
  .hover-tile-outer .hover-tile {
    -webkit-transition: all, 0.2s ease-in-out;
    -moz-transition: all, 0.2s ease-in-out;
    transition: all, 0.2s ease-in-out;
    background: inherit;
    color: white;
    height: inherit;
    padding: 1em 1.5em; }
  .hover-tile-outer .hover-tile-visible {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1em;
    font-weight: 200;
    padding-top: 2em;
    text-align: center; }
  .hover-tile-outer .hover-tile-hidden {
    background: rgba(0, 0, 0, 0.5); }
    .hover-tile-outer .hover-tile-hidden h4 {
      margin-bottom: .5em; }
    .hover-tile-outer .hover-tile-hidden p {
      color: rgba(255, 255, 255, 0.7); }

.button-group input {
  display: none; }
.button-group label {
  margin-bottom: 0; }
  @media screen and (min-width: 53.75em) {
    .button-group label {
      float: left; } }
  .button-group label .button-group-item {
    background: white;
    border-left: 1px solid silver;
    border-radius: 0;
    border-right: 1px solid silver;
    color: gray;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: normal;
    line-height: 1;
    padding: .75em 1em;
    width: 100%; }
    @media screen and (min-width: 53.75em) {
      .button-group label .button-group-item {
        border-bottom: 1px solid silver;
        border-left: 0;
        border-right: 1px solid #eeeeee;
        border-top: 1px solid silver;
        width: auto; } }
    .button-group label .button-group-item:hover {
      background-color: #f7f7f7; }
  .button-group label:first-child .button-group-item {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top: 1px solid silver; }
    @media screen and (min-width: 53.75em) {
      .button-group label:first-child .button-group-item {
        border-bottom-left-radius: 3px;
        border-left: 1px solid silver;
        border-top-left-radius: 3px;
        border-top-right-radius: 0; } }
  .button-group label:last-child .button-group-item {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom: 1px solid silver; }
    @media screen and (min-width: 53.75em) {
      .button-group label:last-child .button-group-item {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 3px;
        border-right: 1px solid silver;
        border-top-right-radius: 3px; } }
  .button-group label input:checked + .button-group-item {
    background: #477DCA;
    border: 1px solid #2c5999;
    box-shadow: inset 0 1px 2px #3264ac;
    color: white; }

@media screen and (min-width: 53.75em) {
  .scroll-on-page aside {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .scroll-on-page aside:last-child {
      margin-right: 0; } }

.scroll-on-page-link {
  border-bottom: 1px solid rgba(71, 125, 202, 0.2);
  padding: 0.75em 0;
  margin-right: 1.5em;
  display: block; }
  .scroll-on-page-link:last-child {
    margin-bottom: 1.5em; }

.scroll-on-page article h4 {
  margin-bottom: .5em; }
.scroll-on-page article section p:last-of-type {
  margin-bottom: 2em; }
@media screen and (min-width: 53.75em) {
  .scroll-on-page article {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .scroll-on-page article:last-child {
      margin-right: 0; } }

.sliding-menu-content {
  position: fixed;
  top: 0px;
  right: auto;
  bottom: 0px;
  left: 0px;
  height: 100%;
  width: 220px;
  -webkit-transform: translateX(-220px);
  -moz-transform: translateX(-220px);
  -ms-transform: translateX(-220px);
  -o-transform: translateX(-220px);
  transform: translateX(-220px);
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
  background: #404040;
  z-index: 999999;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }
  .sliding-menu-content ul {
    padding: 0;
    margin: 0; }
  .sliding-menu-content li {
    list-style: none; }
  .sliding-menu-content a {
    text-decoration: none; }
  .sliding-menu-content li a {
    border-bottom: 1px solid #333;
    color: #fff;
    display: block;
    font-weight: bold;
    padding: 1em; }
    .sliding-menu-content li a:focus {
      background-color: #4d4d4d; }
    .sliding-menu-content li a:hover {
      background-color: #477DCA;
      color: #fff; }
  .sliding-menu-content.is-visible {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }

.sliding-menu-fade-screen {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  background: black;
  opacity: 0;
  visibility: hidden;
  z-index: 999998; }
  .sliding-menu-fade-screen.is-visible {
    opacity: 0.4;
    visibility: visible; }

.sliding-menu-button {
  background-color: #477DCA;
  border-radius: 3px;
  border: 0;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  padding: 7px 18px;
  text-decoration: none;
  background-clip: padding-box;
  padding: 10px 16px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  outline: none; }
  .sliding-menu-button:hover:not(:disabled) {
    background-color: #578ad4;
    cursor: pointer; }
  .sliding-menu-button:active:not(:disabled), .sliding-menu-button:focus:not(:disabled) {
    background-color: #3c71bb;
    cursor: pointer; }
  .sliding-menu-button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
  .sliding-menu-button img {
    height: 1.3em; }

.button-red {
  border: 1px solid #b80000;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #f85454;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: red;
  background-image: -webkit-linear-gradient(red, #c70000);
  background-image: linear-gradient(red, #c70000);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #a30000;
  background-clip: padding-box; }
  .button-red:hover:not(:disabled) {
    background-color: #e10505;
    background-image: -webkit-linear-gradient(#e10505, #b80000);
    background-image: linear-gradient(#e10505, #b80000);
    box-shadow: inset 0 1px 0 0 #f72222;
    cursor: pointer; }
  .button-red:active:not(:disabled), .button-red:focus:not(:disabled) {
    border: 1px solid #b80000;
    box-shadow: inset 0 0 8px 4px #a80000, inset 0 0 8px 4px #a80000; }
  .button-red:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

.button-green {
  border: 1px solid #003900;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #08c408;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: green;
  background-image: -webkit-linear-gradient(green, #004800);
  background-image: linear-gradient(green, #004800);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #002400;
  background-clip: padding-box; }
  .button-green:hover:not(:disabled) {
    background-color: #026402;
    background-image: -webkit-linear-gradient(#026402, #003900);
    background-image: linear-gradient(#026402, #003900);
    box-shadow: inset 0 1px 0 0 #059405;
    cursor: pointer; }
  .button-green:active:not(:disabled), .button-green:focus:not(:disabled) {
    border: 1px solid #003900;
    box-shadow: inset 0 0 8px 4px #002900, inset 0 0 8px 4px #002900; }
  .button-green:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

.button-blue {
  border: 1px solid #0000b8;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #5454f8;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: blue;
  background-image: -webkit-linear-gradient(blue, #0000c7);
  background-image: linear-gradient(blue, #0000c7);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #0000a3;
  background-clip: padding-box; }
  .button-blue:hover:not(:disabled) {
    background-color: #0505e1;
    background-image: -webkit-linear-gradient(#0505e1, #0000b8);
    background-image: linear-gradient(#0505e1, #0000b8);
    box-shadow: inset 0 1px 0 0 #2222f7;
    cursor: pointer; }
  .button-blue:active:not(:disabled), .button-blue:focus:not(:disabled) {
    border: 1px solid #0000b8;
    box-shadow: inset 0 0 8px 4px #0000a8, inset 0 0 8px 4px #0000a8; }
  .button-blue:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

/*# sourceMappingURL=style.css.map */
